// SPDX-License-Identifier: GPL-2.0
/* Copyright (c) 2020 MediaTek Inc. */

//#include <dt-bindings/clock/mt8188-clk.h>
#include <dt-bindings/gpio/gpio.h>

#define V4L2_FWNODE_BUS_TYPE_CSI2_CPHY 1
#define V4L2_FWNODE_BUS_TYPE_CSI2_DPHY 4

#define HI1339_GT9768  1
#define GC08A3_GT9769  0

&seninf_top {
		seninf_csi_port_1: csi_receiver@1 {
			compatible = "mediatek,seninf";
			hs_trail_parameter = <0x28>;
			csi-port = "1";
			port {
				seninf_csi_port_1_in_1: endpoint {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&sub_sensor_out_1>;
				};
				seninf_csi_port_1_in_2: endpoint@2 {
					data-lanes = <1 4>;
					remote-endpoint = <&sub_sensor_out_2>;
				};
			};
		};
		seninf_csi_port_0: csi_receiver@0 {
			compatible = "mediatek,seninf";
			csi-port = "0";
			port {
				seninf_csi_port_0_in_1: endpoint {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&main_sensor_out_1>;
				};
				seninf_csi_port_0_in_2: endpoint@2 {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&main_sensor_out_2>;
				};
			};
		};
};

&pio {
	camera_pins_cam1: cam1@1 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO23__FUNC_O_CMMCLK1>;
			drive-strength = <MTK_DRIVE_2mA>;
		};
		pins_dvdd_en {
			pinmux = <PINMUX_GPIO140__FUNC_B_GPIO140>;
			output-high;
		};
	};

	camera_pins_cam0: cam0@0 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO22__FUNC_O_CMMCLK0>;
			drive-strength = <MTK_DRIVE_2mA>;
		};
		pins_dvdd_en {
			pinmux = <PINMUX_GPIO142__FUNC_B_GPIO142>;
			output-high;
		};
	};
};

&mt6359_vibr_ldo_reg {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&i2c6 {
	status = "okay";
	clock-frequency = <400000>;

    //================================================
#if HI1339_GT9768
	camera_main_lens: vcm@0c {
		compatible = "giantec,gt9768";
		reg = <0x0c>;

		vin-supply = <&mt6359_vrf18_ldo_reg>;
		vdd-supply = <&mt6359_vibr_ldo_reg>;
	};
#endif

	camera_main_sensor@20 {
		compatible = "hynix,hi1339";
		reg = <0x20>;

		clocks = <&topckgen CLK_TOP_CAMTG>;

		reset-gpios = <&pio 19 GPIO_ACTIVE_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&camera_pins_cam0>;

		dovdd-supply = <&mt6359_vrf18_ldo_reg>;
		avdd-supply = <&mt6359_vfe28_ldo_reg>;

#if HI1339_GT9768
		lens-focus = <&camera_main_lens>;
#endif

		port {
			main_sensor_out_1: endpoint {
				bus-type = <V4L2_FWNODE_BUS_TYPE_CSI2_DPHY>;
				data-lanes = <1 2 3 4>;
				link-frequencies =
					/bits/ 64 <1440000000 624000000>;
				remote-endpoint = <&seninf_csi_port_0_in_1>;
			};
		};
	};
    //================================================

    //================================================
#if GC08A3_GT9769
	camera_main_lens: vcm@0c {
		compatible = "giantec,gt9769";
		reg = <0x0c>;

		vin-supply = <&mt6359_vrf18_ldo_reg>;
		vdd-supply = <&mt6359_vibr_ldo_reg>;
	};
#endif

	camera_main_sensor@31 {
		compatible = "galaxycore,gc08a3";
		reg = <0x31>;

		clocks = <&topckgen CLK_TOP_CAMTG>;

		reset-gpios = <&pio 19 GPIO_ACTIVE_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&camera_pins_cam0>;

		dovdd-supply = <&mt6359_vrf18_ldo_reg>;
		avdd-supply = <&mt6359_vfe28_ldo_reg>;

#if GC08A3_GT9769
		lens-focus = <&camera_main_lens>;
#endif
		port {
			main_sensor_out_2: endpoint {
				bus-type = <V4L2_FWNODE_BUS_TYPE_CSI2_DPHY>;
				data-lanes = <1 2 3 4>;
				link-frequencies =
					/bits/ 64 <336000000 207000000>;
				remote-endpoint = <&seninf_csi_port_0_in_2>;
			};
		};
	};
    //================================================

	eeprom@58 {
		compatible = "atmel,24c64";
		reg = <0x58>;
		pagesize = <32>;
		vcc-supply = <&mt6359_vibr_ldo_reg>;
		dovdd-supply = <&mt6359_vrf18_ldo_reg>;
		device-id = <0>;
	};
};

&i2c5 {
	status = "okay";
	clock-frequency = <400000>;

    //================================================
	camera_sub_sensor@31 {
		compatible = "galaxycore,gc08a3";
		reg = <0x31>;

		clocks = <&topckgen CLK_TOP_CAMTG2>;

		reset-gpios = <&pio 21 GPIO_ACTIVE_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&camera_pins_cam1>;

		dovdd-supply = <&mt6359_vcamio_ldo_reg>;
		avdd-supply = <&mt6359_vio28_ldo_reg>;

		port {
			sub_sensor_out_1: endpoint {
				bus-type = <V4L2_FWNODE_BUS_TYPE_CSI2_DPHY>;
				data-lanes = <1 2 3 4>;
				link-frequencies =
					/bits/ 64 <336000000 207000000>;
				remote-endpoint = <&seninf_csi_port_1_in_1>;
			};
		};
	};
    //================================================

    //================================================
	camera_sub_sensor@37 {
		compatible =  "galaxycore,gc05a2";
		reg = <0x37>;

		clocks = <&topckgen CLK_TOP_CAMTG2>;

		reset-gpios = <&pio 21 GPIO_ACTIVE_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&camera_pins_cam1>;

		dovdd-supply = <&mt6359_vcamio_ldo_reg>;
		avdd-supply = <&mt6359_vio28_ldo_reg>;

		port {
			sub_sensor_out_2: endpoint {
				bus-type = <V4L2_FWNODE_BUS_TYPE_CSI2_DPHY>;
				data-lanes = <1 4>;
				link-frequencies =
					/bits/ 64 <448000000 224000000>;
				remote-endpoint = <&seninf_csi_port_1_in_2>;
			};
		};
	};
    //================================================

	eeprom@51 {
		compatible = "atmel,24c64";
		reg = <0x51>;
		pagesize = <32>;
		vcc-supply = <&mt6359_vcamio_ldo_reg>;
		device-id = <0>;
	};
};

